<div>
  <h2>Total Cost Calculator</h2>
  <div class="row">
    <div class="col col-md-3">
      <h3>New Order</h3>
      <form class="form" [formGroup]="orderForm">
        <div class="form-group">
          <label for="appleCount">Apples</label>
          <input
            formControlName="appleCount"
            type="number" step="1" class="form-control" id="appleCount" placeholder="0"
            [ngClass]="{'is-invalid': appleCount.invalid}"
            >
            <div *ngIf="appleCount.invalid && (appleCount.dirty || appleCount.touched)"
              class="alert alert-danger">
              <div *ngIf="appleCount.errors.required">
                Must be a whole number.
                </div>
              <div *ngIf="appleCount.errors.min">
                Must be a positive number. We currently don't support returns or bartering.
              </div>
              <div *ngIf="appleCount.errors.partial">
                Must be a whole number. We currently don't support partial produce.
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="bananaCount">Bananas</label>
          <input
            formControlName="bananaCount"
            type="number" step="1" class="form-control" id="bananaCount" placeholder="0"
            [ngClass]="{'is-invalid': bananaCount.invalid}"
            >
            <div *ngIf="bananaCount.invalid && (bananaCount.dirty || bananaCount.touched)"
              class="alert alert-danger">
              <div *ngIf="bananaCount.errors.required">
                Must be a whole number.
                </div>
              <div *ngIf="bananaCount.errors.min">
                Must be a positive number. We currently don't support returns or bartering.
              </div>
              <div *ngIf="bananaCount.errors.partial">
                Must be a whole number. We currently don't support partial produce.
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="carrotCount">Carrots</label>
            <input
              formControlName="carrotCount"
              type="number" step="1" class="form-control" id="carrotCount" placeholder="0"
              [ngClass]="{'is-invalid': carrotCount.invalid}"
              >
              <div *ngIf="carrotCount.invalid && (carrotCount.dirty || carrotCount.touched)"
                class="alert alert-danger">
                <div *ngIf="carrotCount.errors.required">
                  Must be a whole number.
                  </div>
                <div *ngIf="carrotCount.errors.min">
                  Must be a positive number. We currently don't support returns or bartering.
                </div>
                <div *ngIf="carrotCount.errors.partial">
                  Must be a whole number. We currently don't support partial produce.
                </div>
              </div>
          </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addOrder()"
          [disabled]="orderForm.invalid">
          Add Order
        </button>
      </form>
    </div>
    <div class="col col-md-4">
      <h3>Customer Orders</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order #</th>
            <th>Apples</th>
            <th>Bananas</th>
            <th>Carrots</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th>{{order.orderNumber}}</th>
            <td>{{order.appleCount}}</td>
            <td>{{order.bananaCount}}</td>
            <td>{{order.carrotCount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col col-md-5">
      <h3>Farm Order</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Produce</th>
            <th>Total Order</th>
            <th>Cost Per</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Apples</td>
            <td>{{calculator.orderedAppleCount}}</td>
            <td>${{calculator.appleCost}}</td>
          </tr>
          <tr>
            <td>Bananas</td>
            <td>{{calculator.orderedBananaCount}}</td>
            <td>${{calculator.bananaCost}}</td>
          </tr>
          <tr>
            <td>Carrots</td>
            <td>{{calculator.requiredCarrotPurchaseCount}}</td>
            <td>${{calculator.carrotCost}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <h4>Total Cost: ${{calculator.totalCost}}</h4>
        </div>
      </div>
      <div class="row">
        <div *ngIf="calculator.extraCarrotsPurchasedCount > 0" class="col alert alert-warning" role="alert">
          Due to supplier bundle constraints, we are required to purchase an extra {{calculator.extraCarrotsPurchasedCount}}
            <span *ngIf="calculator.extraCarrotsPurchasedCount == 1">carrot </span>
            <span *ngIf="calculator.extraCarrotsPurchasedCount != 1">carrots </span>
            bringing the total order to {{calculator.requiredCarrotPurchaseCount}} from {{calculator.orderedCarrotCount}}.
        </div>
      </div>
    </div>
  </div>
</div>
